__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
coverage.xml
docs/_build/
reports/
*.sql
*.db
n2.html
coloring_files/
run_outputs/
*_out/
reports/
IPOPT.out
SLSQP.out
